{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="text-center mt-3">Bienvenue sur <span class="badge bg-warning fs-1 p-2 text-dark">IMDB</span></h1>

{% endblock %}
